body{
  color: white;
  background-color: black;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.mapa_container{
  padding: 8vh;
}

.padding__cero{
  padding: 0;
}

.img__logonav{
  width: 10vh;
  border-radius: 50%;
  margin-left: 2vh;
}

.carousel{
  padding-top: 6vh;
}

.titulos__proyectos{
  padding: 5vh;
}

.titulos{
  font-size: 2em;
  text-align: center;
}

@media (min-width: 400px) and (max-width: 600px){
  .titulos {
  font-size: 1.5em;
 }
}

.navbar{
  margin-bottom: 0;
  border: none;
}

.jumbotron{
  background-image: url("../img/banner2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 85vh;
  margin-bottom: 0;
}

.btn__banner{
  margin-right: 2vh;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-image: linear-gradient(to right, #ff00b1, #e01197, #bd27b2, #7d15cc, #4724de);
}

.container:hover .overlay {
  opacity: 0.5;
}

.container__banner{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 30vh;
}

.mensaje{
  font-size: 2 em;
  text-align: center;
  font-weight: 300;
  padding-top: 20vh;
}

p{
  font-weight: 300;
}

.container__top{
margin-top: 7vh;
}

.container__st{
  text-align: left;
  color: black;
}

.servicios__hijo{
  padding-top: 1vh;
  background-color: white;
}

.titulos__grey{
  color: silver;
  font-size: 2em;
}

@media (min-width: 400px) and (max-width: 600px){
  .titulos__grey {
  font-size: 1.5em;
 }
}

.border_top{
  display: block;
  width: 100%;
  border-top:solid 0.3vh silver;
}

.thumbnail__servicios{
  width: 25vh;
  height: auto;
  padding: 3vh 2vh 3vh 2vh;
  margin: 1vh;
  display: inline-block;
  text-align: center;
  list-style: none;
}

.thumbnail__servicios a{
  text-decoration: none;
  color: black;
}

.thumbnail__servicios a:hover {
    background-image: linear-gradient(to right, #ff00b1, #e01197, #bd27b2, #7d15cc, #4724de);
    color:white;
}

.thumbnail__servicios a:hover > i {
  color:white;

}

.container__bio{
  text-align: left;
}

.icon__servicios{
  color: black;
  text-align: center;
}

.container__white{
  background-color: white;
  padding: 5vh;
  color: silver;
}

.thumbnail{
  border:none;
  padding: 3vh 2vh 3vh 2vh;
  margin: 1vh;
}

#msj2{
  background-image: url("../img/banner4b.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

#msj3{
  background-image: url("../img/banner5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

#msj_proyectos{
  background-image: url("../img/msj_proyectos.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

#msj_servicios{
  background-image: url("../img/msj_servicios.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.clientes__inner{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
   justify-content: center;
   align-items: center;
}

.clientes{
  width: 100px;
  display: inline-block;
  list-style: none;
  padding: 1vh;
  line-height: 10vh;
}

.clientes__white{
  background-color: white;
}

#diversidad{
  top: 30vh;
}

.toolbar ul {
            display:table-row;
        }
        .toolbar ul li
        {
            display: table-cell;
            height: 100px;
            list-style-type: none;
            margin: 10px;
            vertical-align: middle;
        }
        .toolbar ul li a {
            display:table-cell;
            vertical-align: middle;
            height:100px;
            border: solid 1px black;
        }
        .toolbar ul li.button a {
            height:50px;
            border: solid 1px black;
        }

.icon__footer{
  padding: 2vh;
}

.form-group{
  background-color: black;
}

.form-horizontal{
  background-color: black;
}

.well{
  background-color: black;
  background-image: none;
  border: none;
}

h1{
  font-size: 1.5em;
  font-family: 'Fahkwang', sans-serif;
}

p{
font-size: 1em;
}

footer{
  background-color: #E5E8E8;
  height: auto;
  width: 100%;
  padding-top:1vh;
  padding-top: 1vh;
}

.footer__fixed{
  position: fixed;
  bottom: 0;
}

.footer__logos{
  display: inline-block;
  padding-left: 0;
}

.footer__inline {
  display: inline;
  list-style: none;
}

footer img{
  border-radius: 50%;
}

footer li{
  padding-left: 1vh;
}

.gridder-show{
  background-color: black;
}

.gridder-close{
  color:white;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: solid 2px white;
  border-radius: 50%;
  background-color: black;
  z-index: 9999;
}

.img-xs{
  width: 30%;
  box-sizing: border-box;
}

.img-sm{
  width: 50%;
}

.detalles_proyectos{
  padding-top: 2vh;
}

.detalles__programas{
  padding-top: 20px;
}

.align__left{
  text-align: left;
}

/*página comentarios*/


.col-md-1{
  padding: 0;
}

.perfil{
  border-radius: 50px;

  max-width: 36px;

}

.comentarios{
  background-color: black;
  padding:4vh 2vh;
  margin-top: 3vh;
}


.tweets{
    border: solid 1px #ccc;
    padding: 25px;
    width: 250px;
    height: 250px;
    overflow: auto;
    float: left;
    margin-left: 20px;
}

.cerrar{
    width: 30px;
    height: 30px;

}

.strike{
text-decoration: line-through;
}

.linkear{
    color:red;
    transition-duration: 5s;
}

.contenedor2{
    background-color: black;
    /* background-color: white; */
    padding: 10px;
    padding: 5px;
    border : 2px dashed #E2E8ED;
    border-radius: 10px;
    box-sizing: border-box;
    /* box-sizing: border-box; */
    margin: 2vh;
}

.container_comentarios{
  width: 70%;
  padding-top: 15vh;
  border-radius: 10%;
}

.gridder-list{
  width: 25%;
}

.button-delete {
  border-color: black;
}
